nav ul { 
	/* Remove the dots from listed items */
	list-style-type: none;
}

.navbar {
	/* Direction left to right. Important if language settings are set to right to left language.  */
	direction: ltr;
	/* Navbar height. */
    height: 80px;
	/* Navbar width */
	width: 100%;
	/* Navbar background color. */
	background-color: var(--vscode-activityBar-background);
	/* Navbar's text color. */
	color: var(--vscode-activityBar-inactiveForeground);
	/* Define navbar as flexbox. */
	display: flex;
	/* Align (flex) items centered on cross axis. */
	align-items: center;
	/* Align (flex) items at the start of main axis. */
	justify-content: flex-start;
	/* Set font size to 12pt (= 16px) */
	font-size: 12pt;
	/* Slightly rounded corners. */
	border-radius: 2px;
}

.authenticated {
	margin-left: auto;
	width: 100%;
	height: 100%;
	min-width: 0px;
	max-width: 590px;
	display: flex;
	align-items: center;
	justify-content: right;
}

.navbar-oppsee {
	/* Oppsee Header color. */
    color: var(--vscode-activityBar-inactiveForeground);
    margin-left: 20px;
	/* Set font size to 15pt (= 20px) */
	font-size: 15pt;
}

@media only screen and (max-width: 368px) {
	.navbar-oppsee {
		/* To ensure a smooth transition between the static and responsive header, the vw value must be set to exactly 7.35294118 */
		/* Formula: vw-value = 100 * px-value / window.innerWidth; e.g. to get 20px: vw = 100 * 20 / window.innerWidth */
		/* Unit vw is dependent on the viewport width */
		font-size: 5.4347826087vw;
	}
	.refresh-icon {
		margin-right: 5.4347826087vw !important;
	}
}

.App-logo {
	/* Oppsee logo color. */
	fill: var(--vscode-activityBar-inactiveForeground);
    margin-left: 10px;
	margin-right: 10px;
	width: 24px;
	height: 24px;
}

.refresh-icon {
	display: block;
	fill: var(--vscode-activityBar-inactiveForeground);
	margin-right: 20px;
	width: 24px;
	height: 24px;
	min-width: 12px;
	min-height: 12px;
}

.refresh-icon:hover {
	fill: var(--vscode-activityBar-foreground);
}

.navbar-menu {
	/* Display menu as a grid (for screens over 500px width). */
    display: grid;
	/* justify-self: flex-end; */
	/* Include 3 columns. */
    grid-template-columns: [first] 20% [second] 40% [third] 40% [column-end];
	/* Include 2 rows. */
	grid-template-rows: [row1] 50% [row2] 50% [row-end];
	grid-template-areas: 
	"profile link1 button1"
    "profile link2 button2";
	grid-auto-flow: column;
	/* Gap between columns. */
    row-gap: 5px;
    text-align: center;
    width: 100%;
	max-width: 400px;
	/* Align items at the end of main axis. */
    justify-content: center;
	align-content: center;
    margin-right: 10px; 
  }

.nav-item {
	/* Display items inline, next to each other. */
	display: inline-flex;
	/* margin-right: 20px; */
}

.nav-item:first-child {
	/* Display items inline, next to each other. */
	display: inline-flex;
	margin-right: 20px;
	margin-top: auto;
	margin-bottom: auto;
	grid-column: first / second;
	grid-row: row1 / row-end;
}

.nav-link {
	color: var(--vscode-activityBar-inactiveForeground);
}

.nav-link:hover {
	color: var(--vscode-activityBar-foreground);
	transition: 500ms;
	transition-timing-function: ease-in-out;
}

.navbar-icon {
	display: none;
}

.nav-button {
	color: var(--vscode-button-foreground);
	background-color: var(--vscode-button-background);
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
}

.open-new {
	width: 12px;
	height: 12px;
	fill: var(--vscode-button-foreground);
}

.nav-button:hover {
	background-color: var(--vscode-button-hoverBackground);
}

.nav-button-text {
	align-self: center;
}

.nav-profile {
	fill: var(--vscode-activityBar-inactiveForeground);
	width: 24px;
	height: 24px;
}

.nav-profile:hover {
	fill: var(--vscode-activityBar-foreground);
}

@media only screen and (max-width: 620px) {
	.navbar {
		position: relative;
	}

	.authenticated {
		max-width: 140px;
	}

	.navbar-menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: 0px;
		position: absolute;
		text-align: center;
		width: 100%;
		top: 80px;
		left: 0px;
		transform: translate(-200px, 0) scale(0);
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: 10px;
		padding-right: 10px;
		max-width: 100%;
	}

	.navbar-menu.active {
		background: var(--vscode-menu-background);
		transform: translate(0, 0) scale(1);
		transition-timing-function: ease-in;
		transition: 500ms;
		z-index: 1;
	}

	.nav-item {
		margin-right: 0px;
		text-align: center;
		margin-bottom: 30px;
		width: 100%;
		display: table;
	}

	.nav-item:first-child {
		margin-right: 0px;
		text-align: center;
		margin-top: 0px;
		margin-bottom: 30px;
		width: 100%;
		display: table;
	}

	.nav-link {
		color: var(--vscode-menu-foreground);
	}

	.nav-link:hover {
		color: var(--vscode-menu-selectionForeground);
		background-color: var(--vscode-menu-selectionBackground);
	}

	.menu-icon {
		display: block;
		fill: var(--vscode-activityBar-inactiveForeground);
		margin-right: 20px;
		width: 24px;
		height: 24px;
		min-width: 24px;
		min-height: 24px;
	}

	.menu-icon:hover {
		fill: var(--vscode-activityBar-foreground);
	}

	.nav-button{
		width: 80%;
		max-width: 200px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}