.sort-container {
    position: relative;
    top: 0px;
    left: 0px;
    display: inline-flex;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 24px;
    width: 24px;
}
.sort-icon {
    width: 12px;
    height: 12px;
    min-width: 12px;
    min-height: 12px;
    fill: var(--vscode-button-foreground);
}
.sort-menu {
    display: none;
}
.sort-menu.active {
    position: absolute;
    display: flex;
    background: var(--vscode-menu-background);
    flex-direction: column;
    left: 0px;
    top: 24px;
    font-size: 9pt; /* = 12px */
    width: auto;
    height: auto;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 2px;
}
.sort-option {
    flex-direction: row;
    display: flex;
}
.sort-label {
    margin-right: 10px;
    margin-bottom: 10px;
}
.sort-input {
    /* We need to override the width (of 100%) specified in vscode.css here. */
    width: auto !important;
}