// My theme variables

// Color
$mdc-theme-primary: #453eaa;
$mdc-theme-on-primary: white;
$mdc-theme-surface: #e24e7f;
$mdc-theme-on-surface: black;

// Typography
$mdc-typography-font-family: unquote("Roboto, sans-serif");

// Shape
$mdc-shape-small-component-radius: 20px;

@use "@material/top-app-bar/mdc-top-app-bar";