.search-bar {
    display: flex;
    color: var(--vscode-input-foreground);
    background-color: var(--vscode-input-background);
    border: var(--vscode-input-border);
    width: 90% !important;
    margin-bottom: 10px;
}